@import url(fondo.css);

:root {
    --color-primario: #0f1c30;
    --color-secundario: #304a6e;
    --color-terciario: #cddefc;
    --gris-primario: #c2c6ce;
  }

  
 body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--gris-primario);

}

main.dark{
    background-color: var(--gris-primario);
}


main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* background: var(--color-primario); */
}

.contenedor{
    width: 400px;
    height: 550px;
    background: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border-radius: 30px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 99;
}

.headers{
    width: 100%;
    margin-top: -50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconos{
    display: flex;
    margin-top: 30px;
    gap: 15px;
}

.iconoUno,
.iconoDos,
.iconoTres{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.iconoUno:hover{
    transition: .5s ease;
    background-color: var(--color-primario);
}

.iconoUno:hover img{
    filter: invert(1);
    transition: .5s ease;
}

.iconoDos:hover{
    transition: .5s ease;
    background-color: var(--color-primario);
}

.iconoDos:hover img{
    filter: invert(1);
    transition: .5s ease;
}

.iconoTres:hover{
    transition: .5s ease;
    background-color: var(--color-primario);
}

.iconoTres:hover img{
    filter: invert(1);
    transition: .5s ease;
}

.usar--email{
    color: black;
    text-decoration: none;
    margin-top: 15px;
    font-size: .8em;
    font-weight: 600;
}

.usar--email:hover{
    color: var(--color-terciario);
    transition: .5s ease;
}


.log--in{
    text-align: center;
}

.divisor{
    width: 50px;
    height: 8px;
    background: var(--color-secundario);
    border-radius: 30px;

}


img {
  width: 20px;
  height: 20px;
}


form{
    width: 70%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{
    width: 100%;
    height: 35px;
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--gris-primario);
}

input::placeholder{
    color:var(--gris-primario);
}

label{
    font-weight: 600;
    font-size: 1em;
}


form a{
    color: black;
    text-decoration: none;
    font-weight: 800;
    font-size: .8em;
}

form a:hover{
    color: var(--color-terciario);
    transition: .5s ease;
}

button{
    margin-top: 30px;
    width: 60%;
    height: 40px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    border: none;
    background: var(--color-primario);
}

button a{
    color: var(--gris-primario);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .8em;
} 

button:hover a{
    color: var(--color-terciario);
}
.registro{
    margin-top: 20px;
    color: black;
    text-decoration: none;
    font-weight: 800;
    font-size: .8em;
}

.registro:hover{
    color: var(--color-terciario);
    transition: .5s ease;
}