:root {
  --color-primario: #0f1c30;
  --color-secundario: #304a6e;
  --color-terciario: #cddefc;
  --gris-primario: #c2c6ce;
  --light: #fff;

  --transition: color 0.4s, background-color 0.6s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

